@import 'https://fonts.googleapis.com/css?family=Architects+Daughter|Cormorant|Cormorant+Unicase|Dancing+Script|Eczar|Merienda+One|Raleway|Rye|Satisfy|Vast+Shadow';

@decor: "catseye", "fairy-tale-jf", sans-serif;
@sans: "stevie-sans", Helvetica, Arial, sans-serif; 
@serif: "adobe-text-pro", "ff-more-web-pro", Georgia, Times, "Times New Roman", serif;

@mobile:      ~"only screen and (max-width: 529px)";
@tablet:      ~"only screen and (min-width: 530px) and (max-width: 949px)";
@desktop:     ~"only screen and (min-width: 950px) and (max-width: 1128px)";
@desktop-xl:  ~"only screen and (min-width: 1129px)";

@media @mobile     { html { font-size: 18px; } }
@media @tablet     { html { font-size: 18px; } }
@media @desktop    { html { font-size: 18px; } }
@media @desktop-xl { html { font-size: 20px; } }

@import 'alice/1.less';
@import 'alice/2.less';


body {
  color: #002;
  background: #fff;
  font-family: "ff-more-web-pro", @serif;
  line-height: 1.4; 
}

h1 {
  text-align: center;
  font-size: 2em;
}

h2 {
  text-align: center;
  font-size: 1em;
  line-height: 1;
}

p {
  max-width: 600px;
  width: calc(100% - 2em);
  margin: auto;
  padding-bottom: 1em;
}

.drop-cap {
  float: left;
  display: inline-block;
  height: .7em;
  line-height: .9;
  font-family: "Eczar", @serif;
  font-size: 6em;
  padding-right: 0.05em;
}

.chapter-number {
  font-family: "Cormorant", @serif;
  text-align: center;
  font-size: 5em;
  margin-bottom: .5em;
}

.chapter-name {
  font-family: "Cormorant", @serif;
  text-align: center;
  font-size: 2em;
  margin-top: .02em;
}

.stars {
  text-align: center;
  font-size: 1em;
  line-height: .5em;
  letter-spacing: .5em;
}

.alice-song {
  font-family: "Eczar";
  line-height: .8;
  text-align: center;
  letter-spacing: .02em;
}

article.toc {
  @media (max-width: 43.750em) {
    .alice-adventures {
    }
  }

 .alice-adventures { 
    font-family: "fairy-tale-jf",sans-serif;
    font-size:  5em;
    margin: auto;
    margin-top: 1em;
    line-height: .8;
    text-align: center;
    padding: 0;
  }

  .wonderland { 
    font-family: "catseye",sans-serif;
    font-size:  9em;
    color: #934 ;
    margin: auto;
    padding: 0;
    text-align: center;
  }

  .red {
    color: #934 ;
  }

  .cover-illustration {
    width: 450px;
    border: 10px solid grey;
  }

  h3 {
    font-size: 3em; 
    font-family: "fairy-tale-jf", serif;
    margin: 1.em auto;
    letter-spacing: .05em;
    text-align: center;
  }  

  .chapter-list {
    font-size: 2.2em;
    font-style: bolder;
    font-family: "magneta", serif;
    margin: auto;
    padding: 0 .51em;
  }

  .toc-number {
    text-align: right;
    padding-right: 0.5em;
    vertical-align: top;
  }

  tr:hover a {
    color: #A01;
  }

  a { 
    text-decoration: none;
    color: #003;
  }
}

article.chapter-one {

  .rabbit-illustration {
    shape-outside: padding-box polygon(50% 1%, 100% 0%, 100% 100%,6% 100%, 3% 91%, 2% 69%, 2% 56%,7% 45%,4% 39%, 13% 34%, 22% 30%,25% 25%,27% 19%,38% 16%); 
    float: right;
    z-index: -1;
    position: relative;
    margin-left: 40%;
  }

  .long-neck-illustration {
    shape-outside: padding-box polygon(100% 0%, 100% 100%, 80% 100%,4% 98%,2% 78%,6% 50%,28% 41%,16% 39%,21% 36%,37% 35%,33% 30%,50% 28%,52% 24%,32% 20%,28% 13%,54% 0%);
    float: right;
    z-index: -1;
    position: relative;
    margin-right: 20%;
  }

  .drink-me {
    font-size: 1.8em;
    font-family: "Dancing Script";
    vertical-align: sub;
    line-height: 0;
   }

  .eat-me {
    font-size: 1.8em;
    font-family: "Architects Daughter";
    vertical-align: sub;
    line-height: 0;
  }

/* unscrew downtree */
 
  .downtree {
    text-align: center;
    font-family: "Cormorant";
    font-weight: bolder;
  } 
  
  @media only screen and (max-width: 600px) {
   
    .downtree {
      font-size: 0.5em;
    }
  }

    .downtop {
      font-size: 9em;
  }

    .downmiddle {
      font-size: 5em;
      opacity: 0.9;
      transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
  }

  .downmiddle:hover {
  opacity: 0.3;
  }
  .downbottom {
  font-size: 3em;
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  }

  .downbottom:hover {
  opacity: 0;
  }
}

article.chapter-two {
}

/* article.chapter-three / the tail is in alice-tail.less  */

article.chapter-four {

  .eat-me {
    font-size: 1.8em;
    font-family: "Dancing Script";
    vertical-align: sub;
    line-height: 0;
  }

  .wrabbit {
    font-size: 1.8em;
    font-family: "Rye";
    white-space: nowrap;
    vertical-align: sub;
    line-height: 0;
  }

}

article.chapter-five { 

  .alice-song :nth-child(4n) {
    margin-bottom:1.5em;
  }
}

article.chapter-six {

  .chorous {
    font-family: "Raleway";
    font-size: 2.5em;
    text-align: center;
    margin-bottom: -1em;
  }

  .wow-wow {
    font-family: "Dancing Script";
    font-size: 1.5em ;
    text-align: center ;
  }

 
  @media (max-width: 700px) {
    .cat-tree-illustration {
      float: left;
      shape-outside: padding-box polygon(0 0, 0% 100%, 46% 100%, 45% 42%, 100% 41%, 98% 9%, 83% 2%);
      margin-left: 0%;
      position: relative;
      z-index: -1;
    }
  }

  @media (min-width: 700px) {
    .cat-tree-illustration {
      float: left;
      shape-outside: padding-box polygon(0 0, 0% 100%, 46% 100%, 45% 42%, 100% 41%, 98% 9%, 83% 2%);
      margin-left: 10%;
      position: relative;
      z-index: -1;
    }
  }
}

article.chapter-seven  {
  .hatter-song {
    font-size: 1.8em;
    font-family: "Dancing Script";
  }
}

article.chapter-eight  {}
article.chapter-nine   {}

article.chapter-ten {
  .turtle-song {
    font-family: "Trirong";
    line-height:1.2;
    font-size: .8em;
    padding-left: 2em;
  }
}

article.chapter-eleven {
  .queen-poem {
    color:red;
    font-family: "Vast Shadow";
  }

  .queen-poem:nth-child(even) {
    padding-left:3em;
  }
}

article.chapter-twelve { 
  .the-end {
    font-family: "Merienda One";
    font-size:3em;
    }
    .white-rabbit-poem{
    font-family: "Architects Daughter";
    line-height:.5;
       padding-left: 2em;
    }
    .white-rabbit-poem p:nth-child(2n){
     padding-bottom: 2em;
    }
}

/* unscrew 
.italic {
	font-style: italic;
	line-height: .5em;
	text-indent: 3em;
	font-family: "Comorant Unicase";
	font-size: 1em;
}
*/
