body {
  background: black;
}

article, figure {
  margin: 0;
  width: 100vw;
  height: 100vh;
  min-height: 700px;
}

div.floating {
  position: absolute;
  width: 80%;
  max-width: 400px;
  top: 20%;
  right: 0;
  left: 0;
  margin: auto !important;
}

div.logo svg {
  width: 100%;
}

div.logo path,
div.logo polygon {
  fill: white;
}

div.signup {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  transition: opacity 0.5s ease-in-out;
}

div.signup h2 {
  color: white;
  font-size: 2em;
  line-height: 1em;
  font-weight: 300;
  text-shadow: 1px 1px 3px rgba(30, 30, 30, 0.8);
  text-indent: 0;
}

div.signup h2 a {
  text-decoration: underline;
}

div.signup input {
  max-width: 80%;
  text-align: center;
  background-color: rgba(255,255,255,0.2);
  border: none;
  border-bottom: 2px solid #eee;
  border-radius: 4px;
  outline: 0px transparent;
  font-size: 2em;
  padding: 3px;
  margin-bottom: 40px;
  color: white;
}

div.signup input::placeholder {
  color: white;
  text-shadow: 1px 1px 3px rgba(30, 30, 30, 0.8);
}

div.signup input:focus {
  color: white;
  background-color: rgba(255,255,255,0.4);
  text-shadow: 1px 1px 3px rgba(30, 30, 30, 0.6);
}

div.signup input:focus:not(.invalid) {
  border-bottom: 2px solid white;
}

div.signup .email-error {
  visibility: hidden;
  font-size: 20px;
  color: #a22;
  text-shadow: 1px 1px 3px rgba(30, 30, 30, 0.5)
}

div.signup input.invalid {
  border: 1px solid #843534;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

div.signup button {
  background-color: rgba(255,255,255,0.2);
  border-radius: 4px;
  padding: 12px 20px;
  font-size: 1.3em;
  color: #eee; 
  border: none;
  text-shadow: 1px 1px 3px rgba(30, 30, 30, 0.8);
  outline: 0px transparent;
  cursor: pointer;
}

div.signup button:hover {
  background-color: rgba(255,255,255,0.4);
  color: white;
}

