article.chapter-one {

  .rabbit-illustration {
    shape-outside: padding-box polygon(50% 1%, 100% 0%, 
      100% 100%, 6% 100%, 3% 91%, 2% 69%, 2% 56%, 7% 45%, 
      2% 43%, 5% 33%, 16% 31%, 20% 31%, 23% 24%, 25% 22%, 
      27% 19%, 38% 16%);
    shape-margin: .4em;
    float: right;
    z-index: -1;
    position: relative;
    margin-left: 40%;
  }

  .long-neck-illustration {
    shape-outside: padding-box polygon(100% 0%, 100% 100%, 
      80% 100%, 4% 98%,2% 78%, 6% 50%, 28% 41%, 16% 39%, 
      21% 36%, 37% 35%, 33% 30%, 50% 28%,52% 24%, 32% 20%, 
      28% 13%, 54% 0%);
//    shape-margin: .4em;
    float: right;
    z-index: -1;
    position: relative;
    margin-right: 10%;
  }

  .drink-me {
    font-size: 1.8em;
    font-family: "Dancing Script";
    vertical-align: sub;
    line-height: 0;
   }

  .eat-me {
    font-size: 1.8em;
    font-family: "Architects Daughter";
    vertical-align: sub;
    line-height: 0;
  }

}
