@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Khand|Oxygen:400,700');

body {
  font-family: 'Oxygen', sans-serif;
  background-color: white;
  padding-bottom: 0;
  font-size: 16px;
}

h1 {
  font-size: 6em;
  margin: 1rem 0;
  text-align: center;
}

.dek {
  font-size: 3em;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  max-width: initial;
}

.skyline {
  min-height: 90vh;
  margin: 0 -1rem;
}

.full-window {
  height: 100vh;
  margin: 0 -1rem;
  overflow: hidden;
}

.background {
  position: relative;
  padding-top: 8em;
  background: #111;
  margin: 0 -1rem;
  color: #eee;
}

.background:before {
  display: block;
  content: '';
  position: absolute;
  height: 10em;
  width: 100%;
  bottom: 100%;
  background: linear-gradient(hsla(0, 0%, 100%, 0), #111);
}

.map {
  position: relative;;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 8rem;
  padding: 0 1rem;
}

.map:after {
  content: '';
  display: block;
  clear: both;
}

svg.gaza {
  display: block;
  width: 30%;
  float: left;
  fill: none;
  stroke: #eee;
  stroke-width: 1;
}

html.has-shapes {

  svg.gaza {
    float: none;
    width: 100%;
  }

  .text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 28px;
  }

  .text p {
    max-width: initial;
  }

  .text p.first {
    margin-top: 1em;
  }
  
  @media (max-width: 400px) {
    .text {
      font-size: 14px;
    }
  }

  @media (min-width: 401px) and (max-width: 500px) {
    .text {
      font-size: 16px;
    }
  }

  @media (min-width: 500px) and (max-width: 600px) {
    .text {
      font-size: 20px;
    }
  }

  @media (min-width: 600px) and (max-width: 700px) {
    .text {
      font-size: 24px;
    }
  }

  .shape-left,
  .shape-right {
    display: block;
    width: 50%;
    height: 100%;
    shape-margin: 1.3em; 
  }

  .shape-left {
    float: left;
    shape-outside: polygon(58% 0,59% 17%,53% 27%,
      49% 42%,31% 60%,27% 64%,23% 68%,10% 81%,
      4% 85%,43% 89%,48% 88%,128% 99%,0 99%,0 0);
  }

  .shape-right {
    float: right;
    shape-outside: polygon(0 0,0 .8%,84% 2%,77% 8%,
      81% 8%,77% 10%,66% 14%,52% 17%,45% 23%,
      41% 26%,39% 27%,33% 36%,27% 38%,28% 41%,
      21% 44%,20% 46%,15% 48%,15% 50%,16% 51%,
      12% 53%,15% 55%,16% 57%,21% 61%,72% 71%,
      79% 75%,64% 80%,64% 86%,43% 93%,42% 97%,
      28% 100%,100% 100%,100% 0);
  }
}

[x-cp-video] {
  max-height: 100vh;
  margin: auto 0;
  background: #111;
}

figcaption {
  font-family: 'Khand', sans-serif;
}

p, h4, .text-width {
  max-width: 500px;
  margin: 1rem auto;
}

.right {
  float: right;
  width: 50%;
}

.subhed {
  margin-top: 2em;
  font-weight: 700;
}

.green-background {
  background: hsla(149, 60%, 40% ,1);
  padding: 1rem;
  margin: 0 -1rem;
}

.social {
  width: 100%;
  max-width: initial;
  text-align: center;
  position: sticky;
  top: 0;
  margin: 0 -1rem;
  padding: 1em;
  background: crimson;
  z-index: 1;
  line-height: 1;
}

.social svg {
  vertical-align: bottom;
}

.social a,
span.donate {
  display: inline-block;
  text-decoration: none;
  line-height: 1em;
  color: white;
  border: none;
  margin: 0 0.5rem;
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -1rem;
}

.row > div {
  flex: 1 1 400px;
  margin: 1rem;
}


.donate-deux {
  text-align: center;
  padding: 2rem;
}

.donate-deux a {
  padding: 0.7em 1em;
  border-radius: 0.2em;
  text-decoration: none;
  background: crimson;
  color: white;
}

