
.scroll-overlay p {
  max-width: 18em;
  margin: 0 auto;
  text-align: justify;
  hyphens: auto;
  text-indent: 1.5em;
  line-height: 1.2;
}

.scroll-overlay p:first-child {
  margin-top: 6em;
}

.scroll-overlay p:first-child.dear {
  text-indent: 0;
  margin-top: 0;
  margin-bottom: 1.2em;
}

.scroll-overlay [x-cp-overlay] {
  margin: 2em;
  padding-top: 3em;
}




.full-window {
  margin: 0 -1rem;  
}


.rainbow {
  position: relative;
}

.rainbow canvas {
  opacity: 0;
  transition: opacity 0.5s linear;
}

.rainbow canvas.loaded {
  opacity: 1;
}

